@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Noto+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
html {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
}

* {
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background-color: #111018;
}

*::-webkit-scrollbar-thumb {
	background-color: #883430;
	border-radius: 3px;
}

body {
	background: #111018;
	color: white;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.grecaptcha-badge {
	visibility: hidden;
}

.hpilang {
	display: none;
}

.navigasiBar .buathp {
	display: inline-flex;
}

@media (min-width: 992px) {
	.hpilang {
		display: inline;
	}

	.navigasiBar .buathp {
		display: none !important;
	}

	.navigasiBar .hpilang {
		display: initial;
	}
}

.navigasiBar {
	background: #231b27;
	display: flex;
	height: 60px;
	left: 0;
	padding: 0 15px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
	z-index: 900;
	-webkit-transition: all .4s;
	transition: all .4s;
}

@media (min-width: 768px) {
	.navigasiBar {
		padding: 15px 60px;
	}
}

.logoNav {
	flex-shrink: 0;
	position: relative;
	z-index: 910;
	align-items: center;
	display: flex;
}

.gambarLogo {
	fill: #fcf8ff;
	/*width: 148px;*/
	height: 45px;
	color: white;
}
@media (min-width: 576px) {
	.gambarLogo {
		height: 45px;
		display: inline;
	}
}

@media (min-width: 768px) {
	.gambarLogo {
		height: 48px;
	}
}

.tengahNav {
	align-items: center;
	display: flex;
	flex: 1 1;
	justify-content: flex-start;
	max-width: 765px;
}

.tengahNav__menu {
	align-items: center;
	display: flex;
	flex: 1 1;
	margin-right: 10%;
}

@media (max-width: 992px) {
	.tengahNav__menu {
		align-items: flex-start;
		background: #231b27;
		display: flex;
		flex-direction: column;
		height: 0;
		justify-content: space-evenly;
		left: 0;
		margin: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		text-align: left;
		top: 100%;
		transition: height .2s ease;
	}
}

.tengahNav__menu .menuItem {
	color: #fff;
	margin-left: 8%;
	white-space: nowrap;
	font-weight: 700;
}

.kananNav {
	flex-shrink: 0;
	position: relative;
	z-index: 910;
	align-items: center;
	display: flex;
	margin-left: auto;
}

.kananNav>* {
	margin-left: 5px;
}
.areaBannerAwal {
	position: relative;
	display: flex;
	min-height: 550px;
	/*664px*/
	flex-direction: column;
	color: white;
	padding-top: 60px;
	margin-top: -60px;
	margin-bottom: -100px;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	z-index: 0;
}

@media (max-width: 992px) {
	.areaBannerAwal {
		padding-top: 0;
	}
}

.aBA__bg {
	position: absolute;
	top: 0;
	left: 0;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.aBA__bg::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	background: linear-gradient(to bottom, rgba(21, 16, 24, 0.5), rgba(21, 16, 24, 1));
	width: 100%;
	height: 100%;
}

.aBA__container {
	flex-grow: 1;
	justify-content: center;
	overflow: hidden;
	align-items: self-start;
	display: flex;
	position: relative;
}

.aBA__konten {
	align-items: self-start;
	display: flex;
	position: relative;
	flex-direction: row;
	margin: 0 auto;
	max-width: 730px;
	max-width: 1200px;
	padding: 0 25px;
	text-align: center;
	width: 100%;
}

@media (max-width: 992px) {
	.aBA__konten {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		align-items: center;
		flex-direction: column;
		padding: 0 0 50px;
	}

	.areaBannerAwal .aBA__konten::before {
		height: 162px;
		top: 55px;
	}
}

.aBA__textArea {
	position: relative;
	width: 50%;
	margin-bottom: 50px;
	margin-top: 95px;
	text-align: left;
}

@media (max-width: 992px) {
	.aBA__textArea {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0 15px;
		text-align: center;
	}
}

.aBA__textArea h1 {
	border: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 2.625rem;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.aBA__textArea p {
	color: #fff;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 30px;
}

.aBA__textArea .tombolNavL {
	padding: 15px 25px;
}

@media (max-width: 992px) {
	.aBA__textArea h1 {
		font-size: 2.125rem;
		line-height: 1.5em;
	}

	.aBA__textArea p {
		font-size: 1rem;
		line-height: 1.5em;
	}

	.aBA__textArea .tombolNavL {
		margin: 0 auto;
	}
}
.bungkusKonten {
	position: relative;
	margin: 0 auto;
	max-width: 1730px;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 992px) {
	.bungkusKonten {
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 30px;
	}
}

.arealistNovel {
	padding: 20px;
}

.arealistNovel.areaLUpdate:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: url('/aset/gambar/bgIseng.png') center/cover no-repeat;
}

@media (min-width: 992px) {
	.arealistNovel {
		padding-left: 0;
		padding-right: 0;
	}
}

.arealistNovel .judul {
	display: flex;
	align-items: center;
	color: white;
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: .25px;
	line-height: 28px;
}

.arealistNovel .subjudul {
	color: #e11f1f;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 24px;
}

.areaCarouselList {
	position: relative;
	width: 100%;
}

.bayanganCarousel {
	height: 100%;
	position: absolute;
	width: 80px;
	z-index: 3;
	transition: all 1s;
}

.bayanganCarousel.ilang {
	opacity: 0;
}

.bayanganCarousel.kanan {
	background: linear-gradient(270deg, #151018 0, rgba(21, 15, 23, .82) 45%, rgba(21, 15, 23, 0));
	float: right;
	margin-right: 0;
	right: 0;
}

.bayanganCarousel.kiri {
	background: linear-gradient(90deg, #151018 0, rgba(21, 15, 23, .82) 45%, rgba(21, 15, 23, 0));
	float: left;
	margin-left: 0;
	left: 0;
}

.caroufredsel_wrapper {
	width: 100% !important;
}

.carouselScroll {
	display: flex;
	padding: 0;
	margin-top: 17px;
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
}

.carouselScroll::-webkit-scrollbar {
	display: none;
	/* Untuk Chrome, Safari, dan Opera */
}

.areaCarouselList .carouselScroll>* {
	flex-shrink: 0;
	margin-right: 15px;
	margin-bottom: 25px;
}

@media screen and (max-width: 991px) {
	.areaLUpdate .areaCarouselList .carouselScroll>* {
		width: calc(25% - 10px);
		flex-shrink: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 809px) {
	.areaLUpdate .areaCarouselList .carouselScroll>* {
		width: calc(33% - 10px);
		flex-shrink: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 767px) {
	.areaLUpdate .areaCarouselList .carouselScroll>* {
		width: calc(50% - 10px);
		flex-shrink: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media (max-width: 632px) {
	.areaLUpdate .areaCarouselList .carouselScroll>* {
		width: calc(50% - 10px);
		flex-shrink: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media (max-width: 460px) {
	.areaLUpdate .areaCarouselList .carouselScroll>* {
		width: calc(50% - 10px);
		flex-shrink: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

@media (min-width: 768px) {
	.areaCarouselList .carouselScroll>* {
		margin-right: 25px;
	}
}

@media (min-width: 992px) {
	.areaCarouselList .carouselScroll>* {
		margin-right: 30px;
	}
}

.areaKotakTopNovel {
	position: relative;
	width: 232px;
}

.akTN__kotakGambar {
	background: linear-gradient(115deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .05));
	border-radius: 7px;
	display: flex;
	margin-bottom: 7px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 336px;
}

.akTN__kotakGambar div {
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0);
	border-radius: 7px;
	transition: all .2s;
	width: 100%;
	z-index: 1;
}

.akTN__genre {
	color: hsla(0, 0%, 100%, .7);
	font-style: normal;
	font-weight: 400;
	margin: 0;
	margin-bottom: -5px;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.akTN__judul {
	color: white;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* set jumlah baris maksimum */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: normal;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
}

.akTN__NovelStatus {
	margin-bottom: 10px;
}

.akTN__NSText {
	padding: 5px;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 575px) {
	.akTN__NSText {
		font-size: 12px;
	}
}

.akTN__NSText.ongoing {
	color: white;
	background-color: #ff0000;
}

.akTN__NSText.completed {
	color: white;
	background-color: #2b8a4c;
}

.akTN__descSN {
	display: -webkit-box;
	color: hsla(0, 0%, 100%, .7);
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
}

.akTN__judul.topchoice {
	display: block;
	white-space: nowrap;
	margin-bottom: 8px;
}

.akTN__Review {
	display: -webkit-box;
	/* Untuk Safari 6-11 */
	display: -ms-flexbox;
	/* Untuk IE 10 */
	display: flex;
	/* Untuk browser modern */
	-webkit-box-align: center;
	/* Untuk Safari 6-11 */
	-ms-flex-align: center;
	/* Untuk IE 10 */
	align-items: center;
	/* Untuk browser modern */
	margin-bottom: 10px;
}

.akTN__Review.pertama span {
	font-size: 13px;
	margin-top: 5px;
}

.bintangRipiw {
	color: #ef8519;
	margin-right: 5px;
}

.akTN__stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	background-color: #483433;
	padding: 5px 15px;
	font-family: 'Poppins', sans-serif;
	line-height: 18px;
	border-radius: 7px 0px 0px 7px;
	margin-right: 3px;
}

.akTN__stats.kedua {
	border-radius: 0px 7px 7px 0px;
	margin-right: 0;
}

.akTN__stats span:first-child {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.akTN__stats span:last-child {
	font-size: 13px;
}

@media (max-width: 992px) {
	.areaKotakTopNovel {
		width: 180px;
	}

	.akTN__kotakGambar {
		height: 260px;
	}
}

@media (max-width: 767px) {
	.areaLUpdate .areaKotakTopNovel {
		width: 100%;
	}

	.areaLUpdate .akTN__kotakGambar {
		height: 374px;
	}
}

@media (max-width: 632px) {
	.areaLUpdate .akTN__kotakGambar div {
		background-size: contain;
	}

	.areaLUpdate .akTN__kotakGambar {
		background: transparent;
		height: 253px;
	}
}

@media (max-width: 558px) {
	.areaKotakTopNovel {
		width: 140px;
	}

	.akTN__kotakGambar {
		height: 202px;
	}

	.akTN__genre {
		font-size: 12px;
	}

	.akTN__judul {
		font-size: 14px;
		line-height: 24px;
	}

	.akTN__stats {
		margin-right: 2px;
	}

	.akTN__stats span:first-child {
		font-size: 12px
	}

	.akTN__stats span:last-child {
		font-size: 11px
	}
}

@media (max-width: 460px) {
	.areaLUpdate .akTN__kotakGambar div {
		background-size: cover;
	}
}

.nopelpel:hover .akTN__kotakGambar div {
	border-color: rgba(255, 255, 255, 1);
	transition: all .2s;
}

.areaGeser {
	align-items: center;
	border-radius: 20px;
	color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: opacity .2s;
	width: 50px;
	z-index: 10;
	top: 206.25px;
	transition: all .2s;
}

.areaGeser svg {
	width: 50px;
}

.areaGeser.kiri {
	left: 5px;
}

.areaGeser.kanan {
	right: 5px;
	z-index: 3;
}

.areaCarouselList:hover .areaGeser {
	opacity: 1;
}

@media (min-width: 768px) {
	.areaGeser .controls.kiri {
		left: 10px;
	}

	.areaGeser .controls.kanan {
		right: 10px;
	}
}

@media (min-width: 992px) {
	.areaGeser {
		top: 244.25px;
	}

	.areaGeser .controls.kiri {
		left: 20px;
	}

	.areaGeser .controls.kanan {
		right: 20px;
	}
}

@media (min-width: 1183px) {
	.areaGeser {
		top: 244.25px;
	}
}

.areaGeser.ilang {
	opacity: 0 !important;
}

@media (max-width: 768px) {
	.carouselScroll {
		width: 100% !important;
		height: unset !important;
		-ms-overflow-style: none;
		/* Untuk IE dan Edge */
		scrollbar-width: none;
		/* Untuk Firefox */
	}

	.carouselScroll::-webkit-scrollbar {
		display: none;
		/* Untuk Chrome, Safari, dan Opera */
	}

	.bayanganCarousel {
		display: none !important;
	}

	.areaGeser {
		display: none !important;
	}
}

.areaLRGabung {
	position: relative;
	width: 100%;
	display: -webkit-box;
	/* Untuk Safari 6-11 */
	display: -ms-flexbox;
	/* Untuk IE 10 */
	display: flex;
	/* Untuk browser modern */
}

.LR__areaReview {
	margin-right: 20px;
}

@media (max-width: 767px) {
	.areaLRGabung {
		flex-direction: column;
		-webkit-flex-direction: column;
	}

	.LR__areaReview {
		margin-right: 0;
	}
}

.kotakLR {
	display: -webkit-box;
	/* Untuk Safari 6-11 */
	display: -ms-flexbox;
	/* Untuk IE 10 */
	display: flex;
	/* Untuk browser modern */
	width: 100%;
	max-width: 991px;
	background-color: #282020;
	padding: 24px 30px;
	border: 0;
	/*1px solid #753838;*/
	border-radius: 12px;
	margin-bottom: 21px;
}

.areaGambarLR {
	position: relative;
	width: 148px;
	margin-right: 30px;
	flex-shrink: 0;
}

.aLR__kotakGambar {
	height: 200px;
}

@media (max-width: 1199px) {
	.kotakLR {
		max-width: 600px;
	}

	.areaGambarLR {
		width: 113px;
	}

	.aLR__kotakGambar {
		height: 171px;
	}
}
.atLR__footerSection {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}

.atLR__garisReview {
	width: 100%;
	border-top: 1px solid #6f3b3b;
	border-image: linear-gradient(133.23deg, #6f3b3b 17.96%, #953333 46.18%, #883430 71.09%, #643a3a 97.66%);
	border-style: solid;
	border-width: 1px;
	border-image-slice: 1;
	margin-top: 5px;
	margin-bottom: 8px;
}

.atLR__footer {
	display: -webkit-box;
	/* Untuk Safari 6-11 */
	display: -ms-flexbox;
	/* Untuk IE 10 */
	display: flex;
	/* Untuk browser modern */
	-webkit-box-align: center;
	/* Untuk Safari 6-11 */
	-ms-flex-align: center;
	/* Untuk IE 10 */
	align-items: center;
	/* Untuk browser modern */
	color: #e11f1f;
	font-size: 14px;
	font-weight: 500;
	transition: all .2s;
}

.atLR__footer svg {
	margin-right: 5px;
}

.kotakLR:hover .atLR__footer {
	color: white;
}

.areaFlexVoteHA {
	flex-shrink: 0;
	margin: 0 auto;
}

.area__voteNopelHA {
	display: -webkit-box;
	/* Untuk Safari 6-11 */
	display: -ms-flexbox;
	/* Untuk IE 10 */
	display: flex;
	/* Untuk browser modern */
	margin-bottom: 13px;
}

@media (max-width: 767px) {
	.areaFlexVoteHA {
		margin: unset;
		margin-top: 14px;
	}

	.flexdiHP__horizontal {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-ms-overflow-style: none;
		/* Untuk IE dan Edge */
		scrollbar-width: none;
		/* Untuk Firefox */
	}

	.flexdiHP__horizontal::-webkit-scrollbar {
		display: none;
		/* Untuk Chrome, Safari, dan Opera */
	}

	.area__voteNopelHA {
		margin: 0 13px;
		flex-shrink: 0;
	}

	.area__voteNopelHA:first-child {
		margin-left: 0;
	}
}

.areaGambarVNH {
	position: relative;
	width: 120px;
	margin-right: 23px;
	flex-shrink: 0;
}

.VNH__kotakGambar {
	position: relative;
	display: flex;
	height: 168px;
	background: linear-gradient(115deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .05));
	border-radius: 7px;
	margin-bottom: 7px;
	overflow: hidden;
	z-index: 2;
}

.VNH__kotakGambar div {
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0);
	border-radius: 7px;
	transition: all .2s;
	width: 100%;
	z-index: 1;
}

.areaTeksVNH {
	flex-basis: 0;
	flex-grow: 1;
}

.areaTeksVNH .akTN__teksKecil {
	font-size: 12px;
}

.VNH__judul {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .25px;
	white-space: pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.VNH__detail {
	font-size: 14px;
}

.VNH__detail p {
	margin: 0;
}

.VNH__detail p:last-child {
	margin-bottom: 1rem;
}

.VNH__areaFooter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	/* Untuk Safari 6-11 */
	-ms-flex-align: center;
	/* Untuk IE 10 */
	align-items: center;
	/* Untuk browser modern */
}

.VNH__areaFooter .tombolNavL {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: auto;
}

.VNH_totalVote {
	color: #ff8080;
	font-weight: 500;
	font-size: 12px;
}

@media (min-width:1200px) {
	.areaGambarVNH {
		width: 156px;
	}

	.VNH__kotakGambar {
		height: 200px;
	}

	.areaTeksVNH .akTN__teksKecil {
		font-size: 14px;
	}

	.VNH__detail p {
		font-size: 16px;
		margin-bottom: 5px;
	}
}

@media (max-width: 991px) {
	.areaGambarVNH {
		width: 100px;
	}

	.VNH__kotakGambar {
		height: 148px;
	}

	.VNH__judul {
		font-size: 14px;
	}

	.VNH__detail {
		font-size: 12px;
	}

	.VNH__detail p:last-child {
		margin-bottom: 9px;
	}

	.VNH__areaFooter .tombolNavL span {
		font-size: 12px;
	}

	.VNH_totalVote {
		font-size: 11px;
	}
}

@media (max-width: 991px) {
	.areaGambarVNH {
		width: 120px;
	}

	.VNH__kotakGambar {
		height: 168px;
	}

	.VNH__judul {
		font-size: 16px;
	}

	.VNH__detail {
		font-size: 14px;
	}

	.VNH_totalVote {
		font-size: 12px;
	}

	.VNH__areaFooter .tombolNavL {
		margin-right: 7px;
	}

	.VNH__areaFooter .tombolNavL span {
		font-size: 14px;
	}
}

.haGaris {
	background-color: #fff;
	border: none;
	height: 15px;
	margin: 50px 0;
	background: linear-gradient(90deg, #bf3f3f, #e01616 .01%, #f37c7c 46.88%, #bf3f3f);
	opacity: 0.35;
}

.hA__AreakurangNopel {
	overflow: hidden;
	position: relative;
	text-align: center;
}

.hA__kurangNopel {
	position: relative;
	max-width: 1300px;
	width: 100%;
	padding: 0 25px;
	margin: 0 auto;
	margin-bottom: 88px;
}

.kN_headerSmall {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	line-height: 1.5em;
	margin: 10px 0;
	text-transform: uppercase;
}

.kN_headerSmall img,
.kN_headerSmall svg {
	color: #f37c7c;
	max-width: 100%;
	height: auto;
	margin-right: 8px;
	margin-top: -3px;
}

.kN_headerSmall span {
	background: linear-gradient(90deg, #bf3f3f, #e01616 .01%, #f37c7c 46.88%, #bf3f3f);
	font-family: 'Poppins', sans-serif;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.kN_headerTitle {
	color: #fff;
	list-style-type: none;
	padding: 0;
	border: 0;
	margin: 0 0 10px;
	line-height: 1.5em;
	font-family: 'Poppins', sans-serif;
	font-size: 2.625rem;
	font-weight: 700;
}

@media (max-width: 700px) {
	.kN_headerTitle {
		font-size: 1.5rem;
		line-height: 1.5em;
	}
}

.teks-spesialhA {
	background: linear-gradient(90deg, #bf3f3f, #f37c7c 46.88%, #bf3f3f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.kN__headerDeskripsi {
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8em;
	margin: 0 auto;
	max-width: 580px;
}

@media (max-width: 700px) {
	.kN__headerDeskripsi {
		font-size: .8rem;
	}
}

.kN__tombol {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 55px 0px 75px;
}

.kN_tMore {
	position: relative;
	padding: 16px 30px;
	font-size: 1.5rem;
	color: var(--color);
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	text-shadow: 0 0 15px var(--color);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: 0.5s;
	z-index: 1;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
	.kN_tMore {
		font-size: 20px;
	}
}

.kN_tMore:hover {
	color: #fff;
	border: 2px solid rgba(0, 0, 0, 0);
	box-shadow: 0 0 0px var(--color);
}

.kN_tMore::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color);
	z-index: -1;
	transform: scale(0);
	transition: 0.3s;
}

.kN_tMore:hover::before {
	transform: scale(1);
	transition-delay: 0.24s;
	box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color);
	border-radius: 8px;
}

.kN_tMore span {
	position: absolute;
	background: var(--color);
	pointer-events: none;
	border-radius: 2px;
	box-shadow: 0 0 10px var(--color), 0 0 20px var(--color), 0 0 30px var(--color), 0 0 50px var(--color), 0 0 100px var(--color);
	transition: 0.3s ease-in-out;
	transition-delay: 0.25s;
}

.kN_tMore:hover span {
	opacity: 0;
	transition-delay: 0s;
}

.kN_tMore span:nth-child(1),
.kN_tMore span:nth-child(3) {
	width: 40px;
	height: 4px;
}

.kN_tMore:hover span:nth-child(1),
.kN_tMore:hover span:nth-child(3) {
	transform: translateX(0);
}

.kN_tMore span:nth-child(2),
.kN_tMore span:nth-child(4) {
	width: 4px;
	height: 40px;
}

.kN_tMore:hover span:nth-child(1),
.kN_tMore:hover span:nth-child(3) {
	transform: translateY(0);
}

.kN_tMore span:nth-child(1) {
	top: calc(50% - 2px);
	left: -50px;
	transform-origin: left;
}

.kN_tMore:hover span:nth-child(1) {
	left: 50%;
}

.kN_tMore span:nth-child(3) {
	top: calc(50% - 2px);
	right: -50px;
	transform-origin: right;
}

.kN_tMore:hover span:nth-child(3) {
	right: 50%;
}

.kN_tMore span:nth-child(2) {
	left: calc(50% - 2px);
	top: -50px;
	transform-origin: top;
}

.kN_tMore:hover span:nth-child(2) {
	top: 50%;
}

.kN_tMore span:nth-child(4) {
	left: calc(50% - 2px);
	bottom: -50px;
	transform-origin: bottom;
}

.kN_tMore:hover span:nth-child(4) {
	bottom: 50%;
}


/* HALAMAN AWAL END */
/* HALAMAN AWAL END */
/* HALAMAN AWAL END */


/* FOOTER */
/* FOOTER */
/* FOOTER */

.puterArea {
	background-color: rgb(35, 27, 39);
	/*#282828;*/
	padding: 20px 0px 16px;
}

@media (min-width: 1200px) {
	.puterArea {
		padding: 48px 0px 24px;
	}
}

.kotakPuter {
	max-width: 1280px;
	padding-right: 24px;
	padding-left: 24px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 720px) {
	.kotakPuter {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.footerFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 26px;
	border-color: #444;
	border-bottom-width: 1px;
}

.fF__areaLogo {
	margin-bottom: 30px;
}

@media (min-width: 1200px) {
	.footerFlex {
		flex-direction: row;
		padding-bottom: 56px;
	}

	.fF__areaLogo {
		margin-right: 72px;
		margin-bottom: 0px;
	}
}

@media (max-width: 1200px) {
	.fF__areaLogo {
		max-width: 250px;
	}
}

.fF__areaLogo a img {
	margin-bottom: 16px;
}

.fF__areaSecond {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 500px;
	margin-right: auto;
}

.fF__areaSecond .akTN__teksKecil {
	font-size: 12px;
}

.fF__areaThird {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.fF__areaThird a i {
	font-size: 24px;
}

@media (max-width: 991px) {
	.fF__areaSecond {
		max-width: 400px;
	}
}

@media (max-width: 767px) {
	.footerFlex {
		flex-direction: column;
		padding-bottom: 0;
	}

	.fF__areaLogo {
		max-width: 100%;
	}

	.fF__areaSecond {
		max-width: 100%;
	}

	.fF__areaThird {
		padding-top: 12px;
		border-top: 1px solid #853636;
		border-image: linear-gradient(133.23deg, #6f3b3b 17.96%, #953333 46.18%, #883430 71.09%, #643a3a 97.66%);
		border-top-style: solid;
		border-top-width: 1px;
		border-image-slice: 1;
		margin-top: 30px;
	}
}

/* FOOTER END */
/* FOOTER END */
/* FOOTER END */

/* PRELOADER */
/* PRELOADER */
/* PRELOADER */

@keyframes mainAnimation {
	0% {
		width: 50px;
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}

	20% {
		width: 50px;
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}

	40% {
		width: 150px;
		transform: translateX(-50px) translateY(0px) rotate(0deg);
	}

	60% {
		width: 150px;
		transform-origin: bottom right;
		transform: translateX(-150px) translateY(0px) rotate(90deg);
	}

	80% {
		width: 50px;
		transform: translateX(-25px) translateY(0px) rotate(90deg);
	}

	100% {
		width: 50px;
		transform: translateX(-50px) translateY(0px) rotate(90deg);
	}
}

@keyframes secundaryAnimation {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}

	20% {
		transform: translateX(0px) translateY(0px) rotate(180deg);
	}

	40% {
		transform: translateX(0px) translateY(0px) rotate(180deg);
	}

	60% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}

	80% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
	}

	100% {
		transform: translateX(0px) translateY(0px) rotate(180deg);
	}
}

@keyframes shadowAnimation {
	0% {
		width: 150px;
		transform: translateX(-25px) translateY(0px) rotate(0deg);
	}

	20% {
		width: 75px;
		transform: translateX(37.5px) translateY(0px) rotate(0deg);
	}

	40% {
		width: 200px;
		transform: translateX(-25px) translateY(0px) rotate(0deg);
	}

	60% {
		width: 75px;
		transform: translateX(37.5px) translateY(0px) rotate(0deg);
	}

	80% {
		width: 75px;
		transform: translateX(37.5px) translateY(0px) rotate(0deg);
	}

	100% {
		width: 150px;
		transform: translateX(-25px) translateY(0px) rotate(0deg);
	}
}

@keyframes float {
	0% {
		top: 50%;
	}

	50% {
		top: 51%;
	}

	100% {
		top: 50%;
	}
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background: #99d2e4;
	background: linear-gradient(135deg, #656d99 0%, #683f3f 100%);
}

.loader {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	background-color: #ffa5a5;
	transform: translateX(0px) translateY(0px) rotate(0deg);
	animation: mainAnimation 2.6s ease 0s infinite forwards;
	z-index: 2;
}

.loader:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	left: -50px;
	background-color: #ffa5a5;
	transform-origin: top right;
	transform: translateX(0px) translateY(0px) rotate(0deg);
	animation: secundaryAnimation 2.6s ease 0s infinite forwards;
}

.shadow {
	position: absolute;
	width: 100px;
	height: 10px;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	margin-left: -75px;
	border-radius: 50%;
	background-color: #ffa5a5;
	transform: translateX(0px) translateY(0px) rotate(0deg);
	animation: shadowAnimation 2.6s ease 0s infinite forwards,
		float 5s ease-in-out 0s infinite forwards;
	filter: blur(5px);
	z-index: 1;
}

.logo {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 42px;
	height: 42px;
	padding: 12px 5px;
	margin-left: -21px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 50%;
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.logo:hover {
	transform: scale(1.4);
}

.logo img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}


/* PRELOADER */
/* PRELOADER */
/* PRELOADER */

.fc-dialog-container {
	max-width: 467px !important;
}

.popupoverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1000;
	background-color: rgba(23, 13, 13, 0.6);
	transition: opacity 0.25s ease 0s;
	z-index: 10;
}

.popupoverlay.active {
	opacity: 1;
}

.popupwindow_z {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #151018;
	max-width: 467px;
	width: 100%;
	border-top: 1px solid #e11f1f;
	border-image: linear-gradient(133.23deg, #a64d4d 17.96%, #ff6c6c 46.18%, #9f5819 71.09%, #5b2929 97.66%);
	border-style: solid;
	border-width: 3px;
	border-image-slice: 1;
	z-index: 12;
}

.popupwindow_z .pwTitle {
	color: white;
	padding: 8px;
	margin-bottom: 7px;
	text-align: center;
	border-bottom: 1px solid #e46363;
	padding: 12px;
	font-weight: 700;
}

.popupwindow_z .pwDescripti {
	color: #e1e1e1;
	padding: 12px;
	font-size: 14px;
}

.popupwindow_z .pwPollSect {
	padding: 0px 7px;
	margin-top: 7px;
}

.pwPollSect input[type="radio"] {
	display: none;
}

.pwPollSect input[type="radio"]+label {
	display: block;
	width: 100%;
	background: #483433;
	border: 1px solid #282020;
	border-radius: 7px;
	padding: 10px 20px;
	margin: 0px 0px 7px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.pwPollSect input[type="radio"]:checked+label {
	background-color: #28232b;
}

.pw_popupButtonSubmit {
	width: 50%;
	align-items: center;
	border: none;
	border-radius: 7px 7px 0px 0px;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .15);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	transition: box-shadow .2s ease;
	-webkit-appearance: button;
	cursor: pointer;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background: rgba(55, 46, 60, .64);
	padding: 10px 15px;
	background: linear-gradient(180deg, #d91d1d, #921212);
	font-size: 14px;
	font-weight: 600;
	margin-top: 15px;
}

@media screen and (max-width: 575px) {
	.popupwindow_z {
		max-width: 100%;
	}
}